div.gallery {
  margin: 5px;
  border: 1px solid #484c52;;
  border-radius: 5px;
  float: left;
  width: 180px;
  padding: 1%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.price{

  color: rgb(209, 52, 52);

  width: 80%;
}

.button {
  background-color: #56a74c;
  width: 100%;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
